.rodapé{
    margin: 1em;
}
.listaRodape{
    display: none;
}
@media screen and (min-width: 1024px) {

    .rodapé{
        display: flex;
        justify-content: space-around;
    }
    .ListaRodapéItem{
        display: flex;
        align-items: center;
        margin: 0.6em 0;
        

    }
    .ListaRodapeLink{
        text-decoration: none;
        margin-left: 0.6em;
        color: var(--cinza-claro);
    }
    .ListaRodapeTitulo{
        font-size: 14px;
        color: var(--cinza-claro);
    }
    .rodapeTitulo{
        font-size: 24px;
        font-weight: 700;
    }
    .listaRodape{
        display: block;
    }
}
@media screen and (min-width: 1728px) {
    .listaRodape{
        border-left: 1px solid var(--cinza-claro);
        padding-left: 1em;
    }
    .rodapé{
        padding: 3em 0;
    }
    .ListaRodapeLink {
        color: var(--cinza-claro);
    }
}